<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duplicates Page</title>
</head>
<body>

      <h1>LMAO FFS Welcome to Kartik's website </h1>
      <h1>1001553522</h1><br>
<h1>These are duplicates</h1>
<img src = "https://kartiksstorage.blob.core.windows.net/assignment1images/duplicates/George.jpg" height="200" width="200">
<img src = "https://kartiksstorage.blob.core.windows.net/assignment1images/duplicates/Tavo.jpg" height="200" width="200">
<img src = "https://kartiksstorage.blob.core.windows.net/assignment1images/duplicates/Teddy.jpg" height="200" width="200">
<img src = "https://kartiksstorage.blob.core.windows.net/assignment1images/duplicates/Tom.png" height="200" width="200">

</body>
</html>
